# Pandas

In [1]:
import pandas as pd

In [ ]:
#Open the file and read it

df=pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

In [ ]:
#Getting the dimensions of the dataframe

df.shape

(374, 13)

In [69]:
#Getting column names

df.columns

Index(['person id', 'gender', 'age', 'occupation', 'sleep duration',
       'quality of sleep', 'physical activity level', 'stress level',
       'bmi category', 'blood pressure', 'heart rate', 'daily steps',
       'sleep disorder'],
      dtype='object')

In [ ]:
#Get the first n rows

df.head(20)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
7,8,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,None
8,9,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,None
9,10,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,None
10,11,Male,29,Doctor,6.1,6,30,8,Normal,120/80,70,8000,None
11,12,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,None
12,13,Male,29,Doctor,6.1,6,30,8,Normal,120/80,70,8000,None
13,14,Male,29,Doctor,6.0,6,30,8,Normal,120/80,70,8000,None
14,15,Male,29,Doctor,6.0,6,30,8,Normal,120/80,70,8000,None
15,16,Male,29,Doctor,6.0,6,30,8,Normal,120/80,70,8000,None
16,17,Female,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Sleep Apnea
17,18,Male,29,Doctor,6.0,6,30,8,Normal,120/80,70,8000,Sleep Apnea
18,19,Female,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Insomnia
19,20,Male,30,Doctor,7.6,7,75,6,Normal,120/80,70,8000,None

In [ ]:
#Getting the last n rows

df.tail(20)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
354,355,Female,58,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
355,356,Female,58,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
356,357,Female,58,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
357,358,Female,58,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,None
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,None
360,361,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
361,362,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
362,363,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
363,364,Female,59,Nurse,8.2,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
365,366,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
366,367,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
367,368,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
368,369,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [ ]:
#Getting the NumPy representation of the data

df.to_numpy

<bound method DataFrame.to_numpy of      Person ID  Gender  Age            Occupation  Sleep Duration  \
0            1    Male   27     Software Engineer             6.1
1            2    Male   28                Doctor             6.2
2            3    Male   28                Doctor             6.2
3            4    Male   28  Sales Representative             5.9
4            5    Male   28  Sales Representative             5.9
..         ...     ...  ...                   ...             ...
369        370  Female   59                 Nurse             8.1
370        371  Female   59                 Nurse             8.0
371        372  Female   59                 Nurse             8.1
372        373  Female   59                 Nurse             8.1
373        374  Female   59                 Nurse             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                   6                       42             6   Overweight
1                   6                       60             8       Normal
2                   6                       60             8       Normal
3                   4                       30             8        Obese
4                   4                       30             8        Obese
..                ...                      ...           ...          ...
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0           126/83          77         4200           None
1           125/80          75        10000           None
2           125/80          75        10000           None
3           140/90          85         3000    Sleep Apnea
4           140/90          85         3000    Sleep Apnea
..             ...         ...          ...            ...
369         140/95          68         7000    Sleep Apnea
370         140/95          68         7000    Sleep Apnea
371         140/95          68         7000    Sleep Apnea
372         140/95          68         7000    Sleep Apnea
373         140/95          68         7000    Sleep Apnea

[374 rows x 13 columns]>

In [ ]:
#Gets the index used for the rows

df.index

RangeIndex(start=0, stop=374, step=1)

In [12]:
#Gets a quick summary of the data

df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [ ]:
#Gets more information about the data

df.info

<bound method DataFrame.info of      Person ID  Gender  Age            Occupation  Sleep Duration  \
0            1    Male   27     Software Engineer             6.1
1            2    Male   28                Doctor             6.2
2            3    Male   28                Doctor             6.2
3            4    Male   28  Sales Representative             5.9
4            5    Male   28  Sales Representative             5.9
..         ...     ...  ...                   ...             ...
369        370  Female   59                 Nurse             8.1
370        371  Female   59                 Nurse             8.0
371        372  Female   59                 Nurse             8.1
372        373  Female   59                 Nurse             8.1
373        374  Female   59                 Nurse             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                   6                       42             6   Overweight
1                   6                       60             8       Normal
2                   6                       60             8       Normal
3                   4                       30             8        Obese
4                   4                       30             8        Obese
..                ...                      ...           ...          ...
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0           126/83          77         4200           None
1           125/80          75        10000           None
2           125/80          75        10000           None
3           140/90          85         3000    Sleep Apnea
4           140/90          85         3000    Sleep Apnea
..             ...         ...          ...            ...
369         140/95          68         7000    Sleep Apnea
370         140/95          68         7000    Sleep Apnea
371         140/95          68         7000    Sleep Apnea
372         140/95          68         7000    Sleep Apnea
373         140/95          68         7000    Sleep Apnea

[374 rows x 13 columns]>

In [ ]:
#Counts the values in a dataframe or a column

df.value_counts()

Person ID  Gender  Age  Occupation         Sleep Duration  Quality of Sleep  Physical Activity Level  Stress Level  BMI Category  Blood Pressure  Heart Rate  Daily Steps  Sleep Disorder
1          Male    27   Software Engineer  6.1             6                 42                       6             Overweight    126/83          77          4200         None              1
247        Male    44   Salesperson        6.3             6                 45                       7             Overweight    130/85          72          6000         Insomnia          1
256        Female  45   Teacher            6.5             7                 45                       4             Overweight    135/90          65          6000         Insomnia          1
255        Female  45   Teacher            6.5             7                 45                       4             Overweight    135/90          65          6000         Insomnia          1
254        Female  45   Teacher            6.5             7                 45                       4             Overweight    135/90          65          6000         Insomnia          1
                                                                                                                                                                                            ..
123        Female  37   Accountant         7.2             8                 60                       4             Normal        115/75          68          7000         None              1
122        Female  37   Accountant         7.2             8                 60                       4             Normal        115/75          68          7000         None              1
121        Female  37   Accountant         7.2             8                 60                       4             Normal        115/75          68          7000         None              1
120        Female  37   Accountant         7.2             8                 60                       4             Normal        115/75          68          7000         None              1
374        Female  59   Nurse              8.1             9                 75                       3             Overweight    140/95          68          7000         Sleep Apnea       1
Length: 374, dtype: int64

In [41]:
df["Occupation"].value_counts()

Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: Occupation, dtype: int64

In [ ]:
#Gets the unique values in a column

df["Occupation"].unique()

array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
       'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
       'Salesperson', 'Manager'], dtype=object)

In [ ]:
#Gets the count of unique values in a column

df["Occupation"].nunique()

11

In [ ]:
#Transposing our data

df.T

,0,1,2,3,4,5,6,7,8,9,...,364,365,366,367,368,369,370,371,372,373
Person ID,1,2,3,4,5,6,7,8,9,10,...,365,366,367,368,369,370,371,372,373,374
Gender,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,...,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female
Age,27,28,28,28,28,28,29,29,29,29,...,59,59,59,59,59,59,59,59,59,59
Occupation,Software Engineer,Doctor,Doctor,Sales Representative,Sales Representative,Software Engineer,Teacher,Doctor,Doctor,Doctor,...,Nurse,Nurse,Nurse,Nurse,Nurse,Nurse,Nurse,Nurse,Nurse,Nurse
Sleep Duration,6.1,6.2,6.2,5.9,5.9,5.9,6.3,7.8,7.8,7.8,...,8.0,8.0,8.1,8.0,8.1,8.1,8.0,8.1,8.1,8.1
Quality of Sleep,6,6,6,4,4,4,6,7,7,7,...,9,9,9,9,9,9,9,9,9,9
Physical Activity Level,42,60,60,30,30,30,40,75,75,75,...,75,75,75,75,75,75,75,75,75,75
Stress Level,6,8,8,8,8,8,7,6,6,6,...,3,3,3,3,3,3,3,3,3,3
BMI Category,Overweight,Normal,Normal,Obese,Obese,Obese,Obese,Normal,Normal,Normal,...,Overweight,Overweight,Overweight,Overweight,Overweight,Overweight,Overweight,Overweight,Overweight,Overweight
Blood Pressure,126/83,125/80,125/80,140/90,140/90,140/90,140/90,120/80,120/80,120/80,...,140/95,140/95,140/95,140/95,140/95,140/95,140/95,140/95,140/95,140/95
Heart Rate,77,75,75,85,85,85,82,70,70,70,...,68,68,68,68,68,68,68,68,68,68
Daily Steps,4200,10000,10000,3000,3000,3000,3500,8000,8000,8000,...,7000,7000,7000,7000,7000,7000,7000,7000,7000,7000
Sleep Disorder,None,None,None,Sleep Apnea,Sleep Apnea,Insomnia,Insomnia,None,None,None,...,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea,Sleep Apnea

In [14]:
#Sorting index according to the rows

df.sort_index(axis=0,ascending=True)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [16]:
#Sorting index according to the columns

df.sort_index(axis=1,ascending=True)

,Age,BMI Category,Blood Pressure,Daily Steps,Gender,Heart Rate,Occupation,Person ID,Physical Activity Level,Quality of Sleep,Sleep Disorder,Sleep Duration,Stress Level
0,27,Overweight,126/83,4200,Male,77,Software Engineer,1,42,6,None,6.1,6
1,28,Normal,125/80,10000,Male,75,Doctor,2,60,6,None,6.2,8
2,28,Normal,125/80,10000,Male,75,Doctor,3,60,6,None,6.2,8
3,28,Obese,140/90,3000,Male,85,Sales Representative,4,30,4,Sleep Apnea,5.9,8
4,28,Obese,140/90,3000,Male,85,Sales Representative,5,30,4,Sleep Apnea,5.9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,59,Overweight,140/95,7000,Female,68,Nurse,370,75,9,Sleep Apnea,8.1,3
370,59,Overweight,140/95,7000,Female,68,Nurse,371,75,9,Sleep Apnea,8.0,3
371,59,Overweight,140/95,7000,Female,68,Nurse,372,75,9,Sleep Apnea,8.1,3
372,59,Overweight,140/95,7000,Female,68,Nurse,373,75,9,Sleep Apnea,8.1,3
373,59,Overweight,140/95,7000,Female,68,Nurse,374,75,9,Sleep Apnea,8.1,3

In [ ]:
#Sorting our data according to the values on the column Age

df.sort_values("Age")

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,None
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,None
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
364,365,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [18]:
#Selecting a single column

df["Age"]

0      27
1      28
2      28
3      28
4      28
       ..
369    59
370    59
371    59
372    59
373    59
Name: Age, Length: 374, dtype: int64

In [19]:
#Selecting multiple columns

df[["Age","Occupation"]]

     Age            Occupation
0     27     Software Engineer
1     28                Doctor
2     28                Doctor
3     28  Sales Representative
4     28  Sales Representative
..   ...                   ...
369   59                 Nurse
370   59                 Nurse
371   59                 Nurse
372   59                 Nurse
373   59                 Nurse

[374 rows x 2 columns]

In [ ]:
#Alternative way of selection

df.Occupation

0         Software Engineer
1                    Doctor
2                    Doctor
3      Sales Representative
4      Sales Representative
               ...
369                   Nurse
370                   Nurse
371                   Nurse
372                   Nurse
373                   Nurse
Name: Occupation, Length: 374, dtype: object

In [ ]:
#Selecting rows (use the slice operator)

df[:3]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None

In [34]:
#Selecting rows (use the loc method)

df.loc[:5,"Age"]

0    27
1    28
2    28
3    28
4    28
5    28
Name: Age, dtype: int64

In [ ]:
#Selecting rows (use the iloc method)

df.iloc[:5,-1]

0           None
1           None
2           None
3    Sleep Apnea
4    Sleep Apnea
Name: Sleep Disorder, dtype: object

In [37]:
#Filtering selection

df[df["Age"]>30]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
32,33,Female,31,Nurse,7.9,8,75,4,Normal Weight,117/76,69,6800,None
33,34,Male,31,Doctor,6.1,6,30,8,Normal,125/80,72,5000,None
34,35,Male,31,Doctor,7.7,7,75,6,Normal,120/80,70,8000,None
35,36,Male,31,Doctor,6.1,6,30,8,Normal,125/80,72,5000,None
36,37,Male,31,Doctor,6.1,6,30,8,Normal,125/80,72,5000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [38]:
#Filtering selection (using the isin method)

df[df["Gender"].isin(["Male"])]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,250,Male,44,Salesperson,6.5,6,45,7,Overweight,130/85,72,6000,None
264,265,Male,48,Doctor,7.3,7,65,5,Obese,142/92,83,3500,Insomnia
266,267,Male,48,Doctor,7.3,7,65,5,Obese,142/92,83,3500,Insomnia
276,277,Male,49,Doctor,8.1,9,85,3,Obese,139/91,86,3700,Sleep Apnea
277,278,Male,49,Doctor,8.1,9,85,3,Obese,139/91,86,3700,Sleep Apnea

In [47]:
#Setting a new column

df["New_column"]="" #This adds an empty column
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,New_column
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None,
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,

In [ ]:
#Dropping a column and saving changes

df.drop(columns={"New_column"},inplace=True)

In [50]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [ ]:
#Renaming a column and saving changes

df.rename(columns={"Age":"Age"},inplace=True)

In [ ]:
#Changing the values in a column

df["Age"]=0

In [ ]:
#Changing a specific value

df.loc[1,1]=0

In [54]:
#Identifying missing values

df.isna()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,False,False,False,False,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False,False,False,False,False

In [55]:
#Dropping missing values and saving changes

df.dropna(inplace=True)

In [57]:
#Filling missing values and saving changes

df.fillna(1,inplace=True)

In [61]:
#Basic statistics

df["Age"].mean() #Mean
df["Age"].median() #Median
df["Age"].std() #Standard deviation
df["Age"].mode() #Mode

0    43
Name: Age, dtype: int64

In [67]:
#String methods

df.columns=df.columns.str.lower()

In [68]:
df.head(3)

,person id,gender,age,occupation,sleep duration,quality of sleep,physical activity level,stress level,bmi category,blood pressure,heart rate,daily steps,sleep disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None

In [70]:
df.columns=df.columns.str.capitalize()

In [71]:
df.head(3)

,Person id,Gender,Age,Occupation,Sleep duration,Quality of sleep,Physical activity level,Stress level,Bmi category,Blood pressure,Heart rate,Daily steps,Sleep disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None

In [73]:
#Grouping data

df.groupby(["Gender"])["Quality of sleep"].sum()

Gender
Female    1418
Male      1317
Name: Quality of sleep, dtype: int64